#home-container {
  height: 100vh;
  width: 100%;
  background-color: var(--main-background-color);
  position: relative;
  z-index: 10;
  color: white;
}

.page-title.home {
  font-weight: 100;
  text-align: center;
  padding-top: 100px;
}

#inner-container{
  display: flex;
  width: 100%;
  height: 400px;
}

.box-image, .box-info {
  width: 50%;
  height: 100%;
  /* background-color: var(--main-yellow-color); */
}

.box-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-image {
  border: solid 2px var(--main-yellow-color);
  border-radius: 50%;
  box-shadow: 0px 0px 100px 20px var(--secondary-yellow-shadow);
  height: 60%;
}