:root {
  --main-yellow-color: #FAF58D;
  --main-background-color: #1c1c1c;
  --secondary-yellow-shadow: rgba(250, 245, 141, 0.25)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-size: 16px;
  width: 100vw;
  font-family: "Poppins", serif;
  background-color: var(--main-background-color);
}

main {
  max-width: 1300px;
  width: 90%;
  margin: auto;
}